<h1>Exemplo ngFor</h1>

<table border="1" cellSpacing="0" width="30%">
  <tr>
    <td align="center"><b>Nome</b></td>
    <td align="center"><b>Idade</b></td>
  </tr>
  <tr *ngFor="let pessoaDaLista of listaPessoas" (click)="clickPessoa(pessoaDaLista)">
    <td>{{pessoaDaLista.nome}}</td>
    <td>{{pessoaDaLista.idade}}</td>
  </tr>
</table>
<hr/>
<button (click)="addPessoa()">Adiciona Pessoa</button>
<button (click)="removePessoa()">Remove Pessoa</button>

<br><br>
<div *ngIf="nomeSelecionado != ''">
  <h2>{{nomeSelecionado}}</h2>
  <h2>{{idadeSelecionado}}</h2>
</div>

<table border="1" cellSpacing="0" width="30%">
  <tr>
    <td align="center"><b>Modelo</b></td>
    <td align="center"><b>Ano</b></td>
    <td align="center"><b>Quantidade</b></td>
  </tr>
  <tr *ngFor="let carroDaLista of carros" (click)="clickCarro(carroDaLista)">
    <td>{{carroDaLista.modelo}}</td>
    <td>{{carroDaLista.ano}}</td>
    <td>{{carroDaLista.quantidade}}</td>
  </tr>
</table>
<hr/>
<button (click)="comprarCorolla()">Comprar Corolla</button>
<button (click)="comprarCivic()">Comprar Civic</button>
<button (click)="comprarCruze()">Comprar Cruze</button>

<br>
<div *ngIf="nomeSelecionado != ''">
  <h2>{{nomeSelecionado}}</h2>
  <h2>{{idadeSelecionado}}</h2>
</div>