<app-jovemdev-title></app-jovemdev-title>
<div class="menu">
        <div class="drop-menu">
                <button class="dropbtn">Abrir menu <i class="fa fa-caret-down"></i></button>
                <div class="drop-content">
                        <a routerLink="/exemploBindings" routerLinkActive="linkSelected">ExemploBindings</a>
                        <a routerLink="/imc" routerLinkActive="linkSelected">IMC</a>
                        <a routerLink="/class" routerLinkActive="linkSelected">Class</a>
                        <a routerLink="/for" routerLinkActive="linkSelected">For</a>
                        <a routerLink="/if" routerLinkActive="linkSelected">If</a>
                        <a routerLink="/model" routerLinkActive="linkSelected">Model</a>
                        <a routerLink="/style" routerLinkActive="linkSelected">Style</a>
                        <a routerLink="/switch" routerLinkActive="linkSelected">Switch</a>
                        <a routerLink="/pipes" routerLinkActive="linkSelected">Pipes</a>
                </div>
        </div>
</div>
<router-outlet></router-outlet>