.linkSelected{
   font-weight: bold;
}

a:link, a:visited {
   background-color: #58cd41;
   border-radius: 15px;
   color: aliceblue;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   margin: 5px;
   padding-left: 1%;
   padding-top: 1%;
   padding-right: 1%;
   padding-bottom: 1%;
}

a:hover, a:active{
   background-color: rgb(64, 80, 207);
}


.dropdown{
   position: relative;
   display: inline-block;
}

.dropbtn{
   font-size: 16px;
   color: white;
   padding: 14px, 16px;
   background-color: #58cd41;
   border-radius: 15px;
}

.drop-content{
   display: none;
   position: absolute;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px;
   z-index: 1;
}

.drop-content a{
   text-decoration: none;
   padding: 12px 16px;
   display: block;
}

.dropdown:hover .dropbtn{
   background-color: #4187cd;
}

.dropdown a:hover{
   background-color: #4187cd;
}

.dropdown:hover .drop-content{
   display: block;
}



