<app-jovemdev-title></app-jovemdev-title>
<div>
        <div class="dropdown">
                <button class="dropbtn">Abrir menu <i class="fa fa-caret-down"></i></button>
                <div class="drop-content">
                        <a routerLink="/exemploBindings" routerLinkActive="linkSelected">Bindings</a>
                        <a routerLink="/imc" routerLinkActive="linkSelected">IMC</a>
                        <a routerLink="/class" routerLinkActive="linkSelected">Class</a>
                        <a routerLink="/for" routerLinkActive="linkSelected">For</a>
                        <a routerLink="/if" routerLinkActive="linkSelected">If</a>
                        <a routerLink="/model" routerLinkActive="linkSelected">Model</a>
                        <a routerLink="/style" routerLinkActive="linkSelected">Style</a>
                        <a routerLink="/switch" routerLinkActive="linkSelected">Switch</a>
                        <a routerLink="/pipes" routerLinkActive="linkSelected">Pipes</a>
                        <a routerLink="/microondas" routerLinkActive="linkSelected">Microondas</a>
                        <a routerLink="/pai_filho" routerLinkActive="linkSelected">Pai->Filho</a>
                        <a routerLink="/filho_pai" routerLinkActive="linkSelected">Filho->Pai</a>
                        <a routerLink="/service" routerLinkActive="linkSelected">Services</a>
                        <a routerLink="/cadmed" routerLinkActive="linkSelected">Medicamentos</a>
                </div>
        </div>
</div>
<router-outlet></router-outlet>