h1 {
    font-size: 20px;
    font-style: oblique;
}

h2 {
    border-top: 5%;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}

.fundo {
    background-color: rgb(37, 35, 35);
    color: aliceblue;
    align-content: center;
}


textarea {
    background-color: rgb(37, 35, 35);
    color: aliceblue;
}

