.title {
    margin: 10px;
    background-color: #58cd41;
    padding: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    border-radius: 15px;
    display: flex;
    justify-content: center;
 }